*{
    margin: 0;
    border: 0;
}

body{
    background-color: rgb(212, 211, 211);
    color: rgb(247, 241, 241);    
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
    justify-items: center;
    
}

img{
    border: none;
}

li{
    list-style: none;
}

li a{
    font-size: 50px;;

}

h1{
    color: rgb(46, 45, 45);
    font-size: 40px;
}